
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --theme-primary: #3A3845;
    --theme-secondary: #F7CCAC;

    --theme-primary-soft: #C69B7B;
    --theme-secondary-soft: #826F66;

    --theme-ligth: #D4D4D4;
    --theme-dark: #9B9B9B;

    --theme-white: #F9F9F9;
    --theme-black: #222222;
}

.c-primary{color: var(--theme-primary)}
.bc-primary{background-color: var(--theme-primary)}

.c-secondary{color: var(--theme-secondary)}
.bc-secondary{background-color: var(--theme-secondary)}

.c-primary-soft{color: var(--theme-primary-soft)}
.bc-primary-soft{background-color: var(--theme-primary-soft)}

.c-secondary-soft{color: var(--theme-secondary-soft)}
.bc-secondary-soft{background-color: var(--theme-secondary-soft)}

.c-ligth{color: var(--theme-ligth)}
.bc-ligth{background-color: var(--theme-ligth)}

.c-dark{color: var(--theme-dark)}
.bc-dark{background-color: var(--theme-dark)}

.c-white{color: var(--theme-white)}
.bc-white{background-color: var(--theme-white)}

.c-black{color: var(--theme-black)}
.bc-black{background-color: var(--theme-black)}

.w-fill{width: 100%}
.h-fill{height: 100%}

.btn{
    border-radius: 25px;
    background-color: var(--theme-secondary);
    border: unset;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:hover{
    background-color: var(--theme-secondary-soft);
}

.fash-h1{
    font-family: 'Roboto';
    font-size: 34px;
    font-weight: 700;
}

.fash-h2{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
}

.fash-h3{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}

.fash-h4{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
}

.fash-h5{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
}

.fash-h6{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}

.fash-h7{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.15px;
    font-weight: 300;
}

.fash-h8{
    font-family: 'Roboto';
    font-size: 11px;
    font-weight: 100;
}

input{
    background-color: transparent;
    border: unset;
    outline: unset;
}

.fash-navbar{
    height: 100px;
    padding: 0 150px;
}

.fash-search{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    padding: 0 25px;
    border: 1px solid var(--theme-dark);
}

.fash-search input{
    font-family: 'Roboto';
    color: var(--theme-secondary);
}

.fash-search:focus-within{
    border: 1px solid var(--theme-secondary);
}

.fash-search:focus-within svg{
    color: var(--theme-secondary);
}

.fash-search input::placeholder{
    color: var(--theme-dark);
    font-family: 'Roboto';
    font-weight: 400;
}

.fash-nav-filter{
    border: 1px solid var(--theme-dark);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.fash-nav-filter:hover{
    border: 1px solid var(--theme-secondary);
}

.fash-nav-filter:hover svg{
    color: var(--theme-secondary);
}

.fash-navbar svg:hover{
    color: var(--theme-secondary);
}

.fash-nav-profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.fash-nav-profile img{
    width: 35px;
    height: 35px;
}

.login-wrapper{
    text-align: center;
}

.login-btn-switch{
    background-color: unset !important;
    max-width: 200px;
}

.change-password-btn{
    padding-left: 40px;
    padding-right: 40px !important;
}